[submodule "nodebb-plugin-deny-moderator-access"]
	path = plugins/nodebb-plugin-deny-moderator-access
	url = https://github.com/BenLubar/nodebb-plugin-deny-moderator-access
[submodule "nodebb-plugin-emailer-amazon"]
	path = plugins/nodebb-plugin-emailer-amazon
	url = https://github.com/barisusakli/nodebb-plugin-emailer-amazon
[submodule "nodebb-plugin-google-analytics"]
	path = plugins/nodebb-plugin-google-analytics
	url = https://github.com/julianlam/nodebb-plugin-google-analytics
[submodule "nodebb-plugin-gravatar"]
	path = plugins/nodebb-plugin-gravatar
	url = https://github.com/julianlam/nodebb-plugin-gravatar
[submodule "nodebb-plugin-htmlcleaner"]
	path = plugins/nodebb-plugin-htmlcleaner
	url = https://github.com/BenLubar/nodebb-plugin-htmlcleaner
[submodule "nodebb-plugin-iframely"]
	path = plugins/nodebb-plugin-iframely
	url = https://github.com/NodeBB/nodebb-plugin-iframely
[submodule "nodebb-plugin-imagemagick"]
	path = plugins/nodebb-plugin-imagemagick
	url = https://github.com/NodeBB/nodebb-plugin-imagemagick
[submodule "nodebb-plugin-mentions-emoji"]
	path = plugins/nodebb-plugin-mentions-emoji
	url = https://github.com/BenLubar/nodebb-plugin-mentions-emoji
[submodule "nodebb-plugin-ns-login"]
	path = plugins/nodebb-plugin-ns-login
	url = https://github.com/NicolasSiver/nodebb-plugin-ns-login
[submodule "nodebb-plugin-sso-facebook"]
	path = plugins/nodebb-plugin-sso-facebook
	url = https://github.com/julianlam/nodebb-plugin-sso-facebook
[submodule "nodebb-plugin-sso-github"]
	path = plugins/nodebb-plugin-sso-github
	url = https://github.com/julianlam/nodebb-plugin-sso-github
[submodule "nodebb-plugin-sso-google"]
	path = plugins/nodebb-plugin-sso-google
	url = https://github.com/julianlam/nodebb-plugin-sso-google
[submodule "nodebb-plugin-sso-twitter"]
	path = plugins/nodebb-plugin-sso-twitter
	url = https://github.com/julianlam/nodebb-plugin-sso-twitter
[submodule "nodebb-plugin-tdwtf-buttons"]
	path = plugins/nodebb-plugin-tdwtf-buttons
	url = https://github.com/NedFodder/nodebb-plugin-tdwtf-buttons
[submodule "nodebb-plugin-unresponsive"]
	path = plugins/nodebb-plugin-unresponsive
	url = https://github.com/boomzillawtf/nodebb-plugin-unresponsive
[submodule "plugins/nodebb-plugin-youtube-embed"]
	path = plugins/nodebb-plugin-youtube-embed
	url = https://github.com/boomzillawtf/nodebb-plugin-youtube-embed.git
[submodule "plugins/nodebb-plugin-image-size"]
	path = plugins/nodebb-plugin-image-size
	url = https://github.com/BenLubar/nodebb-plugin-image-size
[submodule "plugins/nodebb-plugin-user-css"]
	path = plugins/nodebb-plugin-user-css
	url = https://github.com/BenLubar/nodebb-plugin-user-css
[submodule "plugins/nodebb-plugin-ignore-users"]
	path = plugins/nodebb-plugin-ignore-users
	url = https://github.com/exo-do/nodebb-plugin-ignore-users
[submodule "emoji/emojione-assets"]
	path = emoji/emojione-assets
	url = https://github.com/emojione/emojione-assets
[submodule "plugins/nodebb-plugin-post-revisions"]
	path = plugins/nodebb-plugin-post-revisions
	url = ../../BenLubar/nodebb-plugin-post-revisions.git
[submodule "plugins/nodebb-plugin-emoji-one"]
	path = plugins/nodebb-plugin-emoji-one
	url = ../../NodeBB-Community/nodebb-plugin-emoji-one.git
[submodule "plugins/nodebb-plugin-desktop-notifications"]
	path = plugins/nodebb-plugin-desktop-notifications
	url = ../../psychobunny/nodebb-plugin-desktop-notifications.git
[submodule "plugins/nodebb-plugin-pwned-passwords"]
	path = plugins/nodebb-plugin-pwned-passwords
	url = ../../BenLubar/nodebb-plugin-pwned-passwords.git
