[submodule "nodebb-plugin-deny-moderator-access"]
	path = plugins/nodebb-plugin-deny-moderator-access
	url = ../../boomzillawtf/nodebb-plugin-deny-moderator-access.git
[submodule "nodebb-plugin-emailer-amazon"]
	path = plugins/nodebb-plugin-emailer-amazon
	url = ../../barisusakli/nodebb-plugin-emailer-amazon.git
[submodule "nodebb-plugin-google-analytics"]
	path = plugins/nodebb-plugin-google-analytics
	url = ../../julianlam/nodebb-plugin-google-analytics.git
[submodule "nodebb-plugin-gravatar"]
	path = plugins/nodebb-plugin-gravatar
	url = ../../julianlam/nodebb-plugin-gravatar.git
[submodule "nodebb-plugin-iframely"]
	path = plugins/nodebb-plugin-iframely
	url = ../../NodeBB/nodebb-plugin-iframely.git
[submodule "nodebb-plugin-imagemagick"]
	path = plugins/nodebb-plugin-imagemagick
	url = ../../NodeBB/nodebb-plugin-imagemagick.git
[submodule "nodebb-plugin-mentions-emoji"]
	path = plugins/nodebb-plugin-mentions-emoji
	url = ../../boomzillawtf/nodebb-plugin-mentions-emoji.git
[submodule "nodebb-plugin-ns-login"]
	path = plugins/nodebb-plugin-ns-login
	url = ../../NicolasSiver/nodebb-plugin-ns-login.git
[submodule "nodebb-plugin-sso-facebook"]
	path = plugins/nodebb-plugin-sso-facebook
	url = ../../julianlam/nodebb-plugin-sso-facebook.git
[submodule "nodebb-plugin-sso-github"]
	path = plugins/nodebb-plugin-sso-github
	url = ../../julianlam/nodebb-plugin-sso-github.git
[submodule "nodebb-plugin-sso-google"]
	path = plugins/nodebb-plugin-sso-google
	url = ../../julianlam/nodebb-plugin-sso-google.git
[submodule "nodebb-plugin-sso-twitter"]
	path = plugins/nodebb-plugin-sso-twitter
	url = ../../julianlam/nodebb-plugin-sso-twitter.git
[submodule "nodebb-plugin-tdwtf-buttons"]
	path = plugins/nodebb-plugin-tdwtf-buttons
	url = ../../boomzillawtf/nodebb-plugin-tdwtf-buttons.git
[submodule "nodebb-plugin-unresponsive"]
	path = plugins/nodebb-plugin-unresponsive
	url = ../../boomzillawtf/nodebb-plugin-unresponsive.git
[submodule "plugins/nodebb-plugin-youtube-embed"]
	path = plugins/nodebb-plugin-youtube-embed
	url = ../../boomzillawtf/nodebb-plugin-youtube-embed.git
[submodule "plugins/nodebb-plugin-image-size"]
	path = plugins/nodebb-plugin-image-size
	url = ../../boomzillawtf/nodebb-plugin-image-size.git
[submodule "plugins/nodebb-plugin-user-css"]
	path = plugins/nodebb-plugin-user-css
	url = ../../boomzillawtf/nodebb-plugin-user-css.git
[submodule "plugins/nodebb-plugin-ignore-users"]
	path = plugins/nodebb-plugin-ignore-users
	url = ../../exo-do/nodebb-plugin-ignore-users.git
[submodule "emoji/emojione-assets"]
	path = emoji/emojione-assets
	url = ../../emojione/emojione-assets.git
[submodule "plugins/nodebb-plugin-post-revisions"]
	path = plugins/nodebb-plugin-post-revisions
	url = ../../boomzillawtf/nodebb-plugin-post-revisions.git
[submodule "plugins/nodebb-plugin-emoji-one"]
	path = plugins/nodebb-plugin-emoji-one
	url = ../../NodeBB-Community/nodebb-plugin-emoji-one.git
[submodule "plugins/nodebb-plugin-desktop-notifications"]
	path = plugins/nodebb-plugin-desktop-notifications
	url = ../../psychobunny/nodebb-plugin-desktop-notifications.git
[submodule "plugins/nodebb-plugin-pwned-passwords"]
	path = plugins/nodebb-plugin-pwned-passwords
	url = ../../boomzillawtf/nodebb-plugin-pwned-passwords.git
