language: node_js
node_js:
  - "6.0.0"

addons:
  firefox:
    "latest"

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g gulp-cli

install:
  - npm install

script:
  - npm run lint
  - npm test
